body {
	font-family: Calibri, Arial;

}


.imageL {
	display: block;
	width: 350px;
	padding: 50px;
	padding-bottom: 2px;
	float: left;
}

.imageR {
	display: block;
	width: 350px;
	padding: 50px;
	padding-bottom: 2px;
	float: right;
}

.text {
	display: table-cell; 
	vertical-align: middle;
	padding: 20px;
	font-size: 30px;
 }
 
 .imageTextBox {
	display: table; 
	height: 400px; 
	overflow: hidden; 
	background-color:#e4e4e4; 
	padding-bottom:20px;
 }

@media screen and (max-width: 700px) {
  .imageL {
	float: none;
	width: 70%;
	margin-left: auto;
  	margin-right: auto;
	padding:10px
  }

  .imageR {
	float: none;
	width: 70%;
	margin-left: auto;
  	margin-right: auto;
	padding:10px
  }

  .text {
	display: block; 
	font-size: 20px;
  }
}