.photograph {
	position: relative;
	margin: 10px;
	padding-bottom: 10px;
	background-color: #e4e4e4; 

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.photograph img {
	width: 400px;
	height: auto;
	padding: 25px;
	padding-bottom: 0px;
}

.photograph p {
	font-size: 30px;
}

.text {
	vertical-align: middle;

 }
 
 .imageTextBox {
	display: flex; 
	align-items: center;
	justify-content: center;

 }

@media screen and (max-width: 700px) {

	 
	.imageTextBox {
		flex-wrap: wrap;
	
	}

  .photograph{
	transform: scale(0.8);
	margin: -30px;
  }
}