 .project {
	display: flex; 
	align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
 }

.projectBox {
    position: relative;
	display: flex;

    /*undo*/
    top: 0;
	left: 0;
	transform: translate(0, 0);
    transform: scale(1.2);
    margin: 70px;
 }

 .projectImage {
    display: flex;
	width: 700px;
    height: auto;
    padding: 50px;
}

.boxVideo {
    display: flex;
	width: 500px;
    height: 300px;
    padding: 5px;
}


 .text {
	width: 700px;
 }

 .text img {
    width: 600px;
 }

 .sectionHeader {
    display: block;
    width: 100%;
 }

 @media screen and (max-width: 700px) {

  .text img {
	width: 370px;
  }

  .boxVideo {
    width: 400px;
    height: 240px;
}
  
}

@media screen and (max-width: 420px) {
    .text img {
        width: 300px;
    }

    .boxVideo {
        width: 300px;
        height: 180px;
    }
}