body {
  font-family: Calibri, Arial;
  margin: 0;
}

.header {
  padding: 80px; /* some padding */
  text-align: center; /* center the text */
  /* background: #fbff00; /* yellow background */
  color: white; /* white text color */
  text-shadow:            
  -1px -1px 2px #000,  
  1px -1px 2px #000,
  -1px  1px 2px #000,
  1px  1px 2px #000;
  

}

.background-image{
  background-image: url('/images/building.jpg');
  filter: brightness(60%); 
  background-size: cover; /* Scale the image to cover the entire element */
  background-attachment: scroll; /* Fix the image in place during scrolling */
  background-position: 50% 60%; /* Position the image */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 45px;
}



.menubutton {
	float: left; /* Make sure that the links stay side-by-side */
	color: white; /* White text color */
	text-align: center; /* Center the text */
	padding: 6px 17px; /* Add some padding */
	background-color: #2d2d2d00; /* Dark background color */
	display: None;
	border-style: None;
	font-size: 30px;
}




/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #0f0f0ff5; /* Dark background color */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  transition: 0.3s;
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}





/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: #e4e4e4; /* Grey background */
  margin: 10px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 20%; /* Set the width of the sidebar */
  background-color: #e4e4e4; /* Grey background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 80%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
  font-size: 40px;
  width: 100%;
}

.frontImage {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 10px;
}

.mainBody {
  text-align: center;
  font-size: 25px;
}




/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }

  .steam-scale {
    transform: scale(0.5); /* Adjust the scale factor as needed */
    transform-origin: top left; /* Keeps the scaling origin at the top-left corner */
    width: 646px; /* Original width of the container */
    height: 190px; /* Original height of the container */
    overflow: hidden; /* Ensure no overflow issues */
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 420px) {
  .navbar a {
    float: none;
    width: 100%;
  }

  .main {
    font-size: 30px;
  }


  .mainBody {
    font-size: 17px;
  }
  
  .navbar div {
	max-height:0px;
	overflow:hidden;
	transition:0.5s;
  }
  
  .menubutton {
	  display: block;
    padding-top: 10px;
  }
  
  .home {
	  padding-right: 56px !important;
	  margin-bottom: 10px !important;
    padding-top: 17px !important;
    padding-bottom: 10px !important;
  }

  .frontImage {
    width: 100% !important;
    padding: 5px;
  }
}