.title {
	display: block;
	clear: both;
	text-align: center;
	font-size: 50px;
	font-weight: 100px;
	padding-top: 30px;
}

.subtitle {
	display: block;
	clear: both;
	text-align: center;
	font-size: 40px;
}

.projectGrid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/*height: 100vh; /* Full viewport height */
}
 
 .projectBox {
	z-index: 2;
	display: none;
	background-color:#e4e4e4; 

	position: absolute;

	top: 25%; /* Position 50% down from the top of .trigger */
	left: 50%; /* Position 50% across from the left of .trigger */
	transform: translate(-50%, -25%); /* Center the appear div */
 }

 .projectHover{
	position: relative;
	width: 400px;
	height: 300px;
	padding-bottom:20px;
	margin: 10px;
	background-color: #e4e4e4; 

	/* Center text */
	display: flex;
	align-items: center;
	justify-content: center;

	/*
	color: white;
	font-size: 20px;
	cursor: pointer; */
 }

 .projectHover:hover > .projectBox {
	display: flex;
}
 
 
 .projectImage {
	width: 550px;
    height:300px;
    object-fit:contain;
	padding:10px;
	margin: auto;
 }
 
 .projectText {
	display: block; 
	font-size: 25px;
 }

 @media screen and (max-width: 1200px) {
	.title {
		font-size: 35px;
		padding-bottom: 10px;
	}
	
	.subtitle {
		font-size: 25px;
		padding-bottom: 10px;
	} 

	.projectBox {
	width: 100%;
	margin: 0px;
	margin-bottom: 10px;
	}
	.projectImage {
	  float: center;
	  width: 70%;
	  margin-left: auto;
		margin-right: auto;
	  padding:10px
	}
  
	.projectText {
	  display: block; 
	  font-size: 20px;
	}
  }