.background-image{
	background-image: url('/images/train.jpg');
}

.title {
	color: white;
	text-shadow:            
		-1px -1px 2px #000,  
		1px -1px 2px #000,
		-1px  1px 2px #000,
		1px  1px 2px #000;
	display: block;
	clear: both;
	text-align: center;
	font-size: 50px;
	font-weight: 100px;
	padding-top: 30px;
}

.subtitle {
	color: white;
	text-shadow:            
	-1px -1px 2px #000,  
	1px -1px 2px #000,
	-1px  1px 2px #000,
	1px  1px 2px #000;
	display: block;
	clear: both;
	text-align: center;
	font-size: 40px;
}

.projectGrid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/*height: 100vh; /* Full viewport height */
}
 
 .projectBox {
	z-index: 2;
	display: none;
	background-color:#e4e4e4; 

	position: absolute;

	top: 25%; /* Position 50% down from the top of .trigger */
	left: 50%; /* Position 50% across from the left of .trigger */
	transform: translate(-50%, -25%); /* Center the appear div */
 }

 .projectClose{
	z-index: 10;
	color: black;
	border-style: None;
	background-color:#e4e4e4; 
	font-size: 70px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 100px;
	height: 10px;

	position: absolute;
	transform: translate(340px, -500px);

	display: none;
 }

 .projectHover{
	position: relative;
	width: 400px;
	height: 400px;
	margin: 10px;
	background-color: #e4e4e4; 

	/* Center text */
	display: flex;
	align-items: center;
	justify-content: center;

	/*
	color: white;
	font-size: 20px;
	cursor: pointer; */
 }

 .projectHover:hover > .projectBox {
	display: flex;
	flex-direction: column;
}

.projectImage {
	width: 400px;
	height: 400px;
	overflow: hidden;
	position: relative;
	object-fit: cover;
	padding: 5px;
}

.projectGif {
	width: 350px;
	height: 350px;
	overflow: hidden;
	position: relative;
	object-fit: cover;
	padding: 5px;
}

 
 .projectText {
	margin: 0px;
	display: block; 
	font-size: 25px;
 }

 /* Style the navigation bar links */
.projectText a {
	font-size: 20px;
	color: rgb(0, 0, 0); /* White text color */
	padding: 2px 6px; /* Add some padding */
	text-decoration: none; /* Remove underline */
	transition: 0.3s;
	border: 2px solid #000000;
	border-radius: 4px;
  }
  
  /* Change color on hover/mouse-over */
  .projectText a:hover {
	background-color: #505050; /* Grey background color */
	border: 2px solid #505050;
	color: rgb(255, 255, 255); /* Black text color */
  }

 @media (pointer: coarse) {
	.projectHover:hover + .projectClose {
		display: block;
	}
 }

 @media screen and (max-width: 1200px) {
	.title {
		font-size: 35px;
		padding-bottom: 10px;
	}
	
	.subtitle {
		font-size: 25px;
		padding-bottom: 10px;
	}
  
	.projectText {
	  display: block; 
	  font-size: 20px;
	}
  }


@media screen and (max-width: 450px) {
  	.projectHover{
		width: 160px;
		height: 160px;
	}

	.projectHover:hover > .projectBox {
		position: fixed;
		top: 53%;
		left: 50%;
		width: 90%;
		height: auto;
		transform: translate(-50%, -47%);
		display: flex !important;
	}

	.projectHover:hover + .projectClose {
		position: fixed;
		top: 10%;
		right: 4%;
		transform: translate(0, 0);
	}


	.projectImage {
		width: 160px;
		height: 160px;
	}

	.projectGif {
		width: 100%;
	}
}