.title {
	display: block;
	clear: both;
	text-align: center;
	font-size: 50px;
	font-weight: 100px;
	padding-top: 30px;
}

.subtitle {
	display: block;
	clear: both;
	text-align: center;
	font-size: 25px;
	margin: 0;
} 
 
 .projectBox {
	display: table; 
	width: 90%;
	background-color:#e4e4e4; 
	margin: 20px auto;
	padding: 30px;
 }

 .projectVideo {
	width: 70%;
	aspect-ratio: 16 / 9;
    padding: 10px;
 }

 .projectText {
	display: table-cell; 
	vertical-align: middle;
	font-size: 25px;
	padding: 25px 100px;
	
 }

 .sectionHeader {
	display: table-header-group; 
	font-size: 35px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 15px;
 }

 .sectionFooter {
	display: table-footer-group; 
	font-size: 20px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 1px;
 }

 .projectImage {
	width: 550px;
    height:300px;
    object-fit:contain;
	margin-left: auto;
  	margin-right: auto;
	padding:10px;
 }


.imageTextBox {
	width: 100%;
	padding-bottom:20px;
	margin: 10px auto;
}

.imageDocument {
	width: 50%;
	padding-bottom:20px;
	margin: 10px auto;
}


 @media screen and (max-width: 1200px) {
	
	.title {
		font-size: 35px;
		padding-bottom: 10px;
	}
	
	.subtitle {
		font-size: 20px;
		padding-bottom: 10px;
	} 

	.projectBox {
	width: 100%;
	margin: 0px;
	margin-bottom: 10px;
	}
	.projectImage {
	  float: center;
	  width: 70%;
	  margin-left: auto;
		margin-right: auto;
	  padding:10px
	}
	

	.projectVideo {
		width: 95%;
		height: auto;
		padding: 10px;
	 }
  
	.projectText {
	  display: block; 
	  font-size: 20px;
	  padding: 25px;
	}

  }